* {
    box-sizing: border-box;
    margin:0;
    padding:0;   
}

/* header */

header {
    background-color: gray;
    padding: 0.5rem 0;
    text-align: center; 
}

header h3 {
    color:white;   
}

header input {    
    padding-left:20px;   
    width:35%;
}

header .search-bar {
    position:relative;   
}

header .search-bar i {
    color:blue;
    left:33.3%;
    position:absolute;
    top:3px;
}

header h3 {
    padding-bottom:0.4rem;
}

/* section1 */

.section1 {
    background:url("img/yellow-wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height:40vh;
    width:100%;
}

.section1 .container {
    height:100%;
}

.section1 .container h2 {
    color:gray;
    font-size: 2rem;
}

/* section2 */

.section2 .container {
    height:auto;
    padding:0.2rem 0;
}

.section2 .container .img1 {
    border-radius: 50%; 
    max-width: 135px;
    width:33%;
}

.section2 .container .img2 {  
    border-radius: 50%;   
    max-width: 135px;
    width:33%;
}

.section2 .container .img3 {
    border-radius: 50%; 
    max-width: 135px;  
    width:33%;
}

/* section3 */

.section3 .container {
    text-align: center;
}

.section3 .container h3 {
    color:rgb(177, 177, 29);
    padding-bottom: 0.3rem;
}

.section3 .container p {
    font-size: 0.7rem;
    font-style: italic;
}

/* section4 */

.section4 .container {
    padding: 0.5rem 0;
}

.section4 .container .person1 {
    margin-bottom: 0.5rem;
}

.section4 .container .person
{
    text-align: center;
}

.section4 .container .person h6
{
    color:rgb(177, 177, 29);
    font-size: 0.8rem; 
}

.section4 .container .person p
{
    font-size: 0.6rem;
    font-style: italic;
}

.section4 .container .person img
 {
    border-radius: 50%; 
    width:135px;
}

/* section5 */

.section5 .container {
    background-color: rgb(177, 177, 29);
    height:6px;
    width:100%;
    max-width: 100%;
}

/* section6 */

footer {
    background-color: gray;
}

footer .container {  
    padding:0.7rem 0;  
    text-align: center;
}

footer .container .s6 a {
    color:white;
    font-size: 0.7rem;
    display: block;
    text-decoration: none;
}

footer .container .s6 h6 {
    color: rgb(177, 177, 29);
    font-size: 0.9rem;
    padding: 0.3rem 0;
}

footer .container .s6 h6:first-child {
    padding-top:none;
}

/* flex positioning */

.flex-center {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-center-row {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.container{    
    margin:0 auto;
    max-width: 500px;
}


@media only screen and (min-width:768px){

    .container {       
        margin:0 auto;
        width: 500px;
    } 

    header .container {
        display:flex;
        justify-content:space-between;
        align-items: center;
        padding: 0 1rem;
    }

    header h3 {
        padding:0;
    }

    header nav .search-bar input {
        display: block;
        float: right;
        width:60%;
    }

    header nav .search-bar i {
        position: absolute;
        right:42%;
    }

    header nav h3{
        display: block;
        float:left;
        text-align:left;
    }   

    .section1 {
        height:95vh;
    }

    .section2 .container {
        position: absolute;
        top:89%;
        left: 50%;
        transform: translateX(-50%);
    }

    .section3 .container {
       padding-top:5rem;
    }

    .section4 .container {
        display:flex;
        justify-content:space-around;
        align-items: center;
        padding: 2.5rem 0;
    }

    .section4 .container .person {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;        
        margin-left:1.5rem; 
    }

    .section4 .container .person img {
        width:100px;
    }

    .section4 .container .person .details {
        padding:1rem;
    }

    .section4 .container .person .details h6 {
        margin-bottom: 0.5rem;
    }

    .section5 .container {
        max-width:100%;
    }

    footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        align-content: flex-start;    
    }

    footer .container a {
        padding:0.1rem;
    }

}
